<div id="tb-build-list" class="sidebarBox   ">
  <div class="sidebarBoxBaseBox">
    <div class="baseBox baseBoxTop">
      <div class="baseBox baseBoxBottom">
        <div class="baseBox baseBoxCenter"></div>
      </div>
    </div>
  </div>
  <div class="sidebarBoxInnerBox">
    <div class="innerBox header ">
      <div class="boxTitle">Build list:</div>
    </div>
    <div class="innerBox content">
        {{#list buildings}}{{id}} {{name}}{{/list}}
      <div class="linklistNotice">{{test}}</div>
    </div>
    <div class="innerBox footer">
    </div>
  </div>
</div>

